@import url('https://fonts.cdnfonts.com/css/lcd');
.container{
    display: flex;
    /* transition:all 400ms linear ; */
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -100px;
    height: 100px;
    /* background-color: blue; */
    width: 500px;
    top: 200px;

    --_bloom:#fcfbf9;
    --_y1:#fae8a5;
    --_y2:#fbd608;

    --_o1:#ff8f0c;
    --_o2:#e74702;
    --_o3:#b32801;

    --mw1:#d0d5d7;
    
    --m1:#fdea09;
    --m2:#e46703;
    --m3:#ac2a04;
    /* left: 350px; */
}
@font-face {
    font-family:  jashan ;
    src: url("../fonts/fontfamily1/jashan.ttf");
 
  
}
.name{
    padding-left: 5px;
    font-family: Brush Script,lcd ,jashan;
    color: #212121;
    text-transform: capitalize;
    filter: drop-shadow(0px 0px 10px  white);
    letter-spacing: 80px;
    font-weight: 100;
    font-size:150px;
    user-select: none;
}
.animation{
    /* color: #648bbbc7; */
    filter: drop-shadow(0px 0px 10px  white);
}
.doneanimation {
    filter: drop-shadow(0px 0px 10px  white);
    /* color: #95a1b0; */
}
/* .line {
    height: 150%;
    width: 200%;
    
    position: absolute;
    left: -280px;
    top: -47px;
    overflow:hidden;
}
.line::after{
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 20%;
    z-index: 500000;
    clip-path: polygon(100% 100%, 0 0, 100% 0); 
    background-color: transparent;
     box-decoration-break: slice;
    box-shadow: inset 0px 0px 4px 4px var(--_o3);
    animation: after 3s ease-in 00s infinite;

}
.line::before{
    content: "";
    position: absolute;
    display: block;
    height: 8px;
    width: 20%;
    z-index: 500000;
    bottom: 0px;
    clip-path: polygon(1% 19%, 0% 100%, 100% 100%);   
    background-color: transparent;
    box-decoration-break: slice;
    box-shadow:  0px 0px 4px 4px red ;    
    animation: before 3s ease-in 00s infinite ;
    animation: name duration timing-function delay iteration-count  fill-mode;

}
@keyframes after {
    0%{
        left: 0px;
        height: 25px;
        box-shadow: inset 0px 0px 4px 4px var(--_o3);
    }
    40%{
        left: 40%;
       height: 100%;
       box-shadow: inset 0px 0px 40px 40px var(--_o3), 0px 0px 40px 40px white;
    }
    100%{
        left: 100%;
       height: 100%;
       box-shadow: inset 0px 0px 40px 40px rgb(158, 35, 35);
    }
}
@keyframes before {
    0%{
        right: 0px;
        height: 25px;
        background-color: var(--_o1);
    }
    40%{
        right: 40%;
       height: 100%;
       background-color:  var(--_o2);;
    }
    100%{
        right: 100%;
       height: 100%;
       background-color:  var(--_o2);;
    }
} */