.logo {
  height: 10em;
  position: absolute;
  /* padding: 2em; */
  top: 35px;
  right: 0px;
  will-change: filter;
  transition: all linear .4s;
}
.logo.vite {
  height: 20em;
  position: absolute;
  padding: 2em;
  top: -45px;
  left: -76px;
  z-index: 15;
  will-change: filter;
  transition: all linear .4s;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.vite:hover{
  filter: drop-shadow(0 0 5em #06e448aa); 
}
.logo.react:hover {
  animation: logo-spin infinite 1s linear;
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
