  body{
  background-color: #212121;
  min-height: 100vh;
  min-width: 100%;
  overflow: hidden;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
.logo_container {
  margin: 0;
  min-height:100px ;
  height: 200px;
  min-width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input_container {
  position: relative;
  height: 50px;
  width: 50%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  background: #212121;
}

.input_container::before {
  content: '';
  position: absolute;
  top: 0px; 
  left: 0px; 
  right: 0px; 
  bottom: -2px; 
  z-index: -1;
  background: linear-gradient(-1350deg, #2980b9, #6bb5ba,#ffffff);
  border-radius: 10px; /* Adjust to match the border radius */
}


.input_container input{
  outline: none;
  border: none;
  background-color: transparent;
  height: 100%;
  position: relative;
  width: 80%;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.952);
  text-wrap: wrap;
}
.search_svg{
  margin-right: 20px;
  fill: #646cff;
}
.search_svg:hover{

  /* border: 2px solid white; */

  box-shadow:inset 0 0 12px 1px #fcfcfcaa;
}
