@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-image: radial-gradient(
      circle at 0% 0%,
      #191e24 7%,
      #232a31 100.2%
    ),
    radial-gradient(circle at 100% 0%, #191e24 7%, #232a31 100.2%),
    radial-gradient(
      circle at 100% 100%,
      #191e24 7%,
      #232a31 100.2%
    ),
    radial-gradient(circle at 0% 100%, #191e24 7%, #232a31 100.2%);
  background-position: top left, top right, bottom right, bottom left;
  background-size: 50% 50%;
  background-repeat: repeat-x;

  height: 100vh;
  min-width: 100%;
  overflow: hidden;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
.logo_container {
  margin: 0;
  min-height: 100px;
  height: 200px;
  min-width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input_container {
  position: relative;
  height: 50px;
  width: 50%;
  /* background-color: red; */
  display: flex;
  /* cursor: red; */
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
  padding-inline: 20px;
  
}
.input_container:hover{
/* background: #212121;  */
  border-bottom: 2px solid #ffffff;
}

.input_container input {
  outline: none;
  border: none;
  background-color: transparent;
  height: 100%;
  cursor: text;
  position: relative;
  width: 80%;
  z-index:10;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.952);
  text-wrap: wrap;
}
.search_svg {
  margin-right: 20px;
  fill: #646cff;
}
.search_svg:hover {
  /* border: 2px solid white; */

  box-shadow: inset 0 0 12px 1px #fcfcfcaa;
}
